<Files aasearch.php>
  Require all granted
</Files>

<Files accountsearch.php>
  Require all granted
</Files>

<Files itemsearch.php>
  Require all granted
</Files>

<Files js.tmpl.php>
  Require all granted
</Files>

<Files npcsearch.php>
  Require all granted
</Files>

<Files playersearch.php>
  Require all granted
</Files>

<Files spellsearch.php>
  Require all granted
</Files>

<Files spellsearch2.php>
  Require all granted
</Files>

<Files spellsetsearch.php>
  Require all granted
</Files>
