body, html {
  margin: 0;
  padding: 0;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  background: #BACCE1;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: darkred;
}

a:hover {
  text-decoration: underline;
  color: darkred;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  font-weight: bold;
}

fieldset {
  margin: 0px;
  padding: 5px;
}

iframe {
  width:500px;
  height: 150px;
  display:none;
  margin-bottom:20px;
}

table {
  border-collapse: collapse;
}

#container {
  padding-bottom: 20px;
  min-height: 100%;
  margin: auto;
  width: 767px;
}

#header {
  width: 767px;
  text-align: center;
}

#menubar {
  position: relative;
  margin-top: 5px;
  display: block;
  float: left;
  padding: 3px 0 0 10px;
  text-align: left;
  font-size: 12px;
  color: #000;
  z-index: 2;
}

#menubar a:link, #menubar a:active, #menubar a:hover, #menubar a:visited {
  color: darkblue;
  text-decoration: none;
}

#menubar div {
  height: 17px;
  float: left;
  padding: 3px 5px 0 5px;
  margin-right: 5px;
  z-index: 5
}

#menubar .off {
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid black;
  height: 17px;
  background: #AAA;
  z-index: inherit;
}

#menubar .on {
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid black;
  height: 17px;
  background: #CCC;
  z-index: inherit;
}

#menubar .on2 {
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid black;
  height: 17px;
  background: #CCC;
  z-index: inherit;
}

#menubar .log {
  font-weight: bold;
  line-height: 12px;
  font-size: 10px;
  height: 17px;
  z-index: inherit;
}

#searchbar {
  position: relative;
  top: -1px;
  left: 0px;
  clear: both;
  width: 765px;
  padding: 5px 0 5px 0;
  font-size: 12px;
  background-color: #CCC;
  border: 1px solid black;
  z-index: 1;
}

#searchbar select {
  width: 180px;
  font-size: 12px;
}

#searchbar form {
  display: inline;
}

#searchbar input {
  font-size: 12px;
}

#searchbar strong {
  font-weight: bold;
  font-size: 16px;
}

#content {
  clear: both;
  width: 767px;
  text-align: left;
  font-size: 10px;
}

.page_title {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.error {
  border: 1px solid black;
  padding: 3px;
  width: 350px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #CCC;
  text-align: center;
}

.edit_form {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

.edit_form_header {
  padding: 0 5px 3px 5px;
  background-color: black;
  color: #FFF;
  font-size: 10px
}

.edit_form_content {
  padding: 10px;
  color: #000;
  font-size: 10px;
  background-color: #CCC;
}

.table_container {
  margin: auto;
  border: 1px solid black;
  text-align: left;
}

.table_header {
  padding: 0 5px 3px 5px;
  color: #FFF;
  font-size: 10px;
  background-color: #000;
  height: 16px;
  line-height: 16px;
}

.table_header A:link, .table_header A:visited, .table_header A:active {
  text-decoration: none;
  color: yellow;
}

.table_header img, .edit_form_header img {
  vertical-align: middle;
}

.table_header A:hover {
  text-decoration: underline;
  color: yellow;
}

.table_content {
  padding: 10px;
  color: #000;
  font-size: 10px;
  background-color: #CCC;
}

.table_content2 {
  padding: 10px;
  color: #000;
  font-size: 10px;
  background-color: #AAA;
}

.indented {
  margin: 5px 0px 0px 10px;
}