#Starting in Apache 2.4, they changed methods for allow/deny. To be certain of proper function, comment/uncomment the proper lines. Defaulting to 2.2 for now.
#See http://httpd.apache.org/docs/2.4/upgrading.html#access for more information

Options -Indexes

#Apache 2.2 and earlier
<Files ~ "\.(php|sql)$">
  Order deny,allow
  Deny from all
</Files>

<Files index.php>
  Order allow,deny
  Allow from all
</files>


#Apache 2.4 and later
#<Files ~ "\.(php|sql)$">
#  Require all denied
#</Files>

#Apache 2.4 and later
#<Files index.php>
#  Require all granted
#</Files>